.container {
  height: 800px;
  width: 90%;
  border: 3px solid black;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-direction: row; */
  flex-direction: column-reverse;
}
.item {
  height: 100px;
  width: 100px;
  border: 2px red solid;
  padding: 5px;
  margin: 4px;
}
